<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <h5>This is home page</h5>

    <!-- Variables -->
    <%= name.toUpperCase() %>

    <!-- Conditional Statement -->
    <% if(userId === 20) { %>
    <h1>User ID: <% userId %></h1>
    <% } %>
  </body>
</html>
